@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    height: 100vh;
}
.font-change{
    font-family: 'Miama', sans-serif;
    font-size: 90px;
    font-weight: 300;
    line-height: .3rem;
}
                                     

/* Shared styles */
*{
    margin: 0;
    
}
.display-flex{
    display: flex;
}
.container{
    width: 100%;
    margin: 5rem auto;
    
}

h3{
    font-size: 36px;
    text-align: center;
    font-weight: bold;
    margin-left: 150px;
    color: white;
    line-height: normal;
}
.btn-primary{
    width: 180px;
    background-color: #ff4500;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 2 rem;
    font-weight: 800;
    border-radius: 20px;
    margin-left: 70px;
    margin-top: 10px;
    border: 0;
    
}

/* nav bar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #161414 0%, #1d1a1a 100%);
    height: 8rem;
    margin-top: -0px;

   
}
.nav-options{
    display: flex;
    justify-content: space-evenly;
    font-weight: 20px;
    font-size: 23px;
    padding: 8px;
    margin-right: 90px;
    border-radius: 80px;
    border: .5px solid rgb(51, 50, 50);
    gap: 3rem;
}
.nav-link {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

.span{
    color: #e6783c;
}
.span1{
    background-color: rgb(231, 71, 14);
    color: white;
    border-radius: 18px;
    padding: 2px
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.banner{
    /* flex-direction: column; */
    align-items: center;
    background: linear-gradient(135deg, #161414 0%, #1d1a1a 100%);
    margin-top: -80px;
   
}


/* banner related styles */
.banner-content{
    width: 60%;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 50px; 
}
.banner-title{
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
    margin-left: 50px;
    
}
.banner-img{
    width:80%;
    min-height:600px ;
    margin-left: 200px;
    align-items: center;
    background-image:
    url("../images/Images 2.png");
    background-repeat: no-repeat;
    color: white;
}
.banner-image{
    width: 100%;
}
.banner-description{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
    color: rgb(130, 130, 127);
    margin-left: 100px;
    
}
.btn-primary1{
    width: 180px;
    background-color:black;
    color:white;
    padding: 10px 20px;
    font-size: 2 rem;
    font-weight: 800;
    margin-left: 7px;
    border-radius: 20px;
    border: 1px solid white;
}
/* banner-box */
.banner-more{
    width: 120px;
    height: 70px;
    font-size: 15px;
    font-weight: 10px;
    margin-left: 210px;
    margin-top: 140px;
    color: white;
    text-align: center;
    border: 1px solid rgb(158, 150, 150);
    background:rgba(156, 150, 150, 0.2);
    border-radius: 8px;
   
}
.banner-p{
    font-size: 10px;
    font-weight: 500;
    color: #a8a1a1;
    margin-left: 10px;
    margin-top: -25px;
}
.banner-another{
    display: flex;
    width: 140px;
    height: 70px;
    font-size: 15px;
    font-weight: 10px;
    margin-left: 2px;
    margin-top: 200px;
    color: white;
    text-align: center;
    border: 1px solid rgb(158, 150, 150);
    background:rgba(143, 139, 139, 0.2);
    border-radius: 8px;
    
}
.icon{
    font-size: 30px;
    margin-bottom: 8px;
    align-items: center;
    color: #ff4500;
}
.icon-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Change habit Section */
.change-section{
    padding: 70px;
}
.change{
    text-align: center;
    margin-bottom: 20px;
    color: white;
}
p{
    font-size: 13px;
    font-weight: 500;
    color: rgb(130, 130, 127);
    
}
.change-p{
    font-size: 18px;
    font-weight: 500;
}
h5{
    color: white;
    font-size: 15px;
}
h2{
    color: white;
    font-size: 30px;
}
.image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px 130px 0 100px ;
    
}
.Change-h2{
    font-size: 40px;
}

.row {
    text-align: center;
}
/* Round images in change habit*/
.row img {
    width: 100%;
    max-width: 150px; 
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 0 auto 10px; 
    border: 3px solid rgb(39, 38, 38);
}

/* run an extra easy */
.run-easy {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(41, 40, 40); 
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 12px;
    padding: 5px  10px;
}
.run-text1{
    padding: 10px ;
    margin-left: 70px;
}
.run-text{
    padding: 10px ;
    margin-left: 70px;
}


 .run-img {
    display: flex;
    padding: 30px;
    border-radius: 6px;

}

.run-img img {
    width: 100%;
    /* max-width: 300px;  */
    width: 350px; 
    height: 250px;
    border-radius: 8px;
}
.run-p{
    text-align: center;
}


/* Bmi style */
.Bmi{
    padding: 50px;
    margin-left: 130px;
    
}
.bmi-h{
    margin-left:-850px ;
}
/* bmi Calculator style */

.Bmi-calculator {
    display: flex;
    flex-wrap: wrap;
    background-color: #2b2a2a;
    padding: 15px;
    max-width: 1300px;
    
}
.bmi-another{
    margin-left: 170px;
    margin-top: 30px;
}
.bmi-chart table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
    margin-left: 160px;
}

.bmi-chart th, .bmi-chart td {
    border: 1px solid #939090;
    padding: 8px;
    text-align: center;
}

.bmi-h2{
   font-size: 30px;
    margin:60px;
    margin-left: 100px;
    
}
.table {
    border-collapse: collapse;
    width: 80%;
    max-width: 600px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

.bmi-category {
    font-weight: bold;
}
th {
    color: white;
}
th, td {
    text-align: left;
    padding: 12px;
    border-top: 1px solid #4f4e4e;
    border-right: 1px solid #605c5c;
    border-left: 1px solid #5f5c5c;
    border-bottom: 1px solid #6a6767;
}
td{
    color: #a7a1a1;
}

/* Another part of BMi */
.calculator{
    margin-left: 120px;
    margin-top: -30px;
}


h2 {
    text-align: center;
    margin-bottom: 20px;
}
.bmi-para{
    margin-top: -50px;
    margin-left: 80px;
    text-align: center;
}

input[type="number"], select {
    box-sizing: border-box; 
    display: inline-block;
    vertical-align: middle; 
}
    
input[type="number"],
select {
    width: 70%;
    padding: 8px ;
    margin-bottom: 20px;
    background-color: #807c7c;
    border: 1px solid #686868;
    background-color: #403e3e;
    border-radius: 10px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
    border-radius: 20px;
    margin-left: 120px;
}
.g1,.g3{
    margin-right: -33px;

}
.g2,.g4{
 margin-left: -33px;
   
}
.g3,.g4{
    margin-top: -10px;
}

 
.grid-item select {
    width: 70%;
    padding: 10px;
    border: 1px solid #6e6c6c;
    color: gray;
    background-color: #403e3e;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    /*  margin-left: 120px; */
}
.grid-item1 select {
    width: 60%;
    color: gray;
    border: 1px solid #6e6c6c;
    background-color: #403e3e;
    border-radius: 8px;
    font-size: 16px;
    margin-left: 155px;
    
}
.grid-item1{
    margin-top: -30px;
}

.btn-primary2{
    width: 180px;
    background-color: #ff4500;
    color:white;
    padding: 10px 30px;
    cursor: pointer;
    font-size: 2 rem;
    font-weight: 800;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 155px;
    border: 0;
    
}



/* Meat our team style */
.meet-team{
    padding: 25px;
}

.meet-team2 {
    background-color: rgb(41, 40, 40);
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
    border-radius: 10px;
}
.row-1,.row-2
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* row-gap: 20px; */
    padding: 10px ;
    gap: 20px;
    

}
.img-card {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(233, 223, 223, 0.767);
     position: relative;
}

.img-card img {
    width: 300px;
    height: 250px;
    border-radius: 7px;
    filter:brightness(80%);  
}
.img-card h6 {
    position: absolute;
    top: 80%;
    left: 29%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
}

.img-card .Card {
    position: absolute;
    top: 90%;
    left: 22%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
}

.img-card h6 {
    margin: 10px 0 5px;
    font-size: 13px;
    font-weight: bold;
    color: white;
}
.img-card p{
    color:#d6cdcd80;
    font-size: 11px;
}
.team-p{
    text-align: center;
    margin-bottom: 15px;
}


/* footer get started part */
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}
.nav-link{
    text-decoration: none;
    font-weight: 300;
    color: rgb(135, 131, 131);
}
.footer-section{
    margin-top: -20px;
    padding: 50px 0px 50px 100px;
    background-color:rgb(41, 40, 40);  
}
.hr-p{
    text-align: center;
    font-size: 14px;
}


/* footer started style */
.started{
    display: flex;
    
}
.options{
    display: flex;
    list-style-type: none; 
    font-weight: 20px;
    font-size: 23px;
    margin-right: 90px;
    gap: 3rem;
}
.footer-links{
    display: flex;
}

.get-started {
    padding: 0; 
}

.h5-footer {
    margin: 0; 
    padding: 0; 
    font-size: 1.8em;
}

.options .link {
    list-style-type: none;
    padding: 0; 
    margin: 0; 
}
.footer-section hr{
    margin: 2rem  ;
    width: 90%; 
   border: 1px solid rgb(85, 83, 83);
}

/* unique side design */

.explore-your-travel{
    background-image: linear-gradient(100deg,
    rgba(31, 27, 27, 0.8)0%,
    rgba(245, 237, 237, 0)100%),
    url('../Images/exercise6.jpg');
    padding: 5rem 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.explore-container h3{
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 800;
}
.explore-container p {
    color: white;
    font-size: 18px;
    line-height: 26px;
    width: 676px;
    padding: 1.5rem 0;
    text-align: center;
    margin: auto;
}
.travel-inputs{
    margin-top: 2rem;
    border-radius: 8px;
    background:rgba(68, 44, 186, 0.2);
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    margin-left: 320px;
    margin-right: 270px;
    align-items: center;
    backdrop-filter: blur(4px);
}
input,select{
    width: 120px;
    height: 50px;
    color: white;
    padding: 0 0.5rem;
    margin: 0 1rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.btn-primary3{
    
        width: 150px;
        height: 51px;
        background-color: #ff4500;
        color:white;
        padding: 10px 30px;
        cursor: pointer;
        font-size: 2 rem;
        font-weight: 800;
        border-radius: 8px;
        /* margin-left: 70px; */
        margin-top: 10px;
        border: 0;
        
    }




/* Responsive layout */
.ham-burger{
    display: none;
}

/* Responsive Design For Mobile or 576px */

@media screen and (max-width: 576px)
{
    .nav-bar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 10px;
    }

      .span, .span1 {
        display: block;
        margin: 5px 0;
    }
    .nav-options{
        display: none;
    }
    .ham-burger{
        display: block;
        font-size: 26px;
        color: white;
        cursor: pointer;
        align-self: flex-end; 
        margin-top: -40px;
        margin-right: 40px;
       
    }

    h3{
    font-size: 26px;
}


   /* banner responsive */
    .banner {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(135deg, #161414 0%, #1d1a1a 100%);
         padding: 10px;
    }

    .banner-content {
        width: 90%;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 30px;
        margin-left: 0; 
    }

    .banner-title {
        font-weight: 600;
        font-size: 1.8rem;
        color: white;
        margin-left: 0;
    }

    .banner-img {
        width: 100%;
        min-height: 300px;
        margin-left: 0; 
        background-size: contain; 
        background-position: center; 
    }

    .banner-description {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        color: rgb(130, 130, 127);
        margin-left: 0; /* Center the description */
    }

    .btn-primary1 {
        width: 100%;
        background-color: black;
        color: white;
        padding: 10px 20px;
        font-size: 1.2rem;
        font-weight: 800;
        margin-left: 0; /* Center the button */
        border-radius: 20px;
        border: 1px solid white;
    }

    .banner-more {
        width: 100%;
        height: auto;
        font-size: 12px;
        font-weight: 10px;
        margin-left: 0; /* Center the element */
        margin-top: 20px;
        color: white;
        text-align: center;
        border: 1px solid rgb(158, 150, 150);
        background: rgba(156, 150, 150, 0.2);
        border-radius: 8px;
        padding: 10px;
    }

    .banner-p {
        font-size: 10px;
        font-weight: 500;
        color: #a8a1a1;
        margin-left: 0; /* Center the text */
        margin-top: -25px;
    }

    .banner-another {
        display: flex;
        width: 100%;
        height: auto;
        font-size: 12px;
        font-weight: 10px;
        margin-left: 0; /* Center the element */
        margin-top: 20px;
        color: white;
        text-align: center;
        border: 1px solid rgb(158, 150, 150);
        background: rgba(143, 139, 139, 0.2);
        border-radius: 8px;
        padding: 10px;
    }

    .icon {
        font-size: 24px;
        margin-bottom: 5px;
        align-items: center;
        color: #ff4500;
    }

    .icon-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }



    /* Change habit responsive section */

    .change-section {
        padding: 20px; 
    }

    h2 {
        font-size: -5px;
        color: rgb(255, 255, 255);
         /* Reduce font size */
    }

    .Change-h2 {
        font-size: 32px; 
    }

    .image-grid {
        display: grid;
        grid-template-columns: 1fr ;
        gap: 10px;
        padding: 10px 20px; 
    }

    /* next Run responsive */
    
        .row img {
            width: 100%;
            max-width: 150px;
            height: auto;
            border-radius: 50%;
            display: block;
            margin: 0 auto 10px;
            border: 3px solid rgb(39, 38, 38);
        }
    
        .run-easy {
            display: flex;
            flex-direction: column; 
            align-items: center;
            background-color: rgb(41, 40, 40); 
            margin: 0 10px; /* Reduce margins for smaller screens */
            border-radius: 12px;
            padding: 10px; /* Add padding for better spacing */
        }
    
        .run-text1, .run-text {
            padding: 10px;
            /* margin-left: 0;  */
            text-align: center; /* Center-align text */
        }
    
      .run-img img {
            width: 250px;
            height: auto;
            border-radius: 8px;
        }


        /* Meet our team responsive */
            .meet-team {
                padding: 12px; 
            }
        
            .meet-team2 {
                background-color: rgb(41, 40, 40);
                 margin: 0 auto;
                margin-top: 30px;
                border-radius: 10px;
            }
            .img-card img {
                width: 100%; 
               
            }
        
            .row-1, .row-2 {
                display: grid;
                grid-template-columns: 1fr;
                padding: 15px;  
            }     
            .img-card img {
                
                height: auto;
          } 


        /* Unique section         */

    .container{
    margin: 3rem auto;
}
    p{
    font-size: 16px;
}
    .explore-container h3{
    font-size: 26px;
}
    .explore-container p{
    width: 60%;
}
    .travel-inputs{
    flex-direction: column;
    width:  70%;
    margin: auto;
}
    .travel-inputs inputs,
    .travel-inputs select,
    .travel-inputs button{
    width: 100%;
    margin: 1rem 0;
}
    .popular-section,
    .row-1,
    .row-2,
    .row-3{
    grid-template-columns: 1fr;
}
input{
    width:90%;
}


/* footer section responsive */


.footer-content{
    display: flex;
    flex-direction: column;
}


.footer-section hr {
    width: 100%; 
    margin: 1rem auto; 
}

.footer-section p.hr-p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

}







 














